<header>
    <section class="success" id="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Online Public Access Catalog</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>The OPAC system is your ally. </p>
                </div>
                <div class="col-lg-4">
                    <p>自由な蔵書検索システムをあなたに．</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p><a class="btn btn-lg btn-outline" href="/opac/search" role="button"><i class="fa fa-search"></i> Search</a>
                </div>
            </div>
        </div>
    </section>
    </header>
